.PageDefault {
    flex-grow: 1;
    width: 44.5%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.PageUp {
    opacity: 0;
    translate: 0 -1113px;
}

.PageDown {
    translate: 0 1096px;
}
